openapi: 3.1.0

info:
  title: Jukebox API
  version: 0.0.0
  description: |
    The contract between the Jukebox CLI and the worker. Both sides generate
    their types from this document; neither owns it. A change here breaks the
    typecheck on both sides until it is handled, which is the point.

servers:
  - url: https://api.jukebox.dev

paths:
  /playlists:
    post:
      operationId: createPlaylist
      summary: Create a tracked Playlist from its public URL.
      description: |
        Nothing is read from the Source here. The Playlist is recorded and the
        caller gets an id back immediately; Resolution happens out of band,
        which is what keeps upstream usage proportional to Playlists rather
        than to callers.

        Re-adding a Playlist already tracked is harmless and returns the same
        id: the id is derived from the URL, so no lookup decides this.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlaylistRequest'
      responses:
        '200':
          description: |
            Tracked, and already resolved. The caller can fetch its Tracks
            immediately rather than polling for a Resolution that has happened.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlaylistResponse'
        '202':
          description: Tracked. Resolution has not run yet, so there are no Tracks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePlaylistResponse'
        '400':
          description: No Source adapter claims this URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '410':
          description: |
            Tracked, and its Source refuses it. The same answer the Tracks
            endpoint gives, so a caller never has to poll to learn a state that
            will not change.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: |
            Tracked, and its Source could not be read for a reason believed
            temporary. Nothing is asked of the Source here; the Resolution that
            failed is either still being retried or has been set aside.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /playlists/{id}/tracks:
    get:
      operationId: getPlaylistTracks
      summary: The Tracks of a Playlist, as its Source describes them.
      description: |
        One call answers both "is it ready" and "here they are", so the CLI's
        poll loop and its fetch are the same request.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/PlaylistId'
      responses:
        '200':
          description: |
            The Tracks of the Playlist, as of the Version naming this snapshot.
          headers:
            ETag:
              description: |
                The Playlist's Version, quoted. Strong, because it names an
                immutable snapshot exactly rather than an equivalent one. Send
                it back as `If-None-Match` on the next sync.
              required: true
              schema:
                type: string
                examples:
                  - '"1"'
            Cache-Control:
              description: |
                `no-cache`: hold this answer, but revalidate before using it.
                Without it a shared cache may apply heuristic freshness and
                stop revalidating, at which point a Version that moves never
                reaches the client at all.
              required: true
              schema:
                type: string
                examples:
                  - no-cache
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaylistTracks'
        '202':
          description: |
            Resolution has not completed, so the Playlist has no Tracks yet.
            This is the poll response: ask again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingTracks'
        '304':
          description: |
            The `If-None-Match` sent matches the current Version, so the caller
            already holds this answer and none is sent. This is the sync that
            should be overwhelmingly the most common one: serving it reads a
            single cache key and touches no database.
          headers:
            ETag:
              description: The Version the caller was found to be holding, quoted.
              required: true
              schema:
                type: string
                examples:
                  - '"1"'
            Cache-Control:
              description: '`no-cache`, as on the 200 this revalidates.'
              required: true
              schema:
                type: string
                examples:
                  - no-cache
        '404':
          description: |
            Nothing is tracking a Playlist under this id. Ids are derived from
            the URL, so this is a Playlist that was never added -- not one whose
            Resolution failed, which has its own answers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '410':
          description: |
            The Source will not serve this Playlist and retrying will not help
            -- it was deleted, made private, or is curated by the Source itself
            and closed to other apps. The Source does not distinguish the three,
            so neither does this, and the message names the likely causes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: |
            Resolution failed for a reason believed temporary, and there are no
            Tracks to serve yet. Worth asking again.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    CreatePlaylistRequest:
      type: object
      required: [url]
      properties:
        url:
          type: string
          description: The playlist's public URL on its Source.
          examples:
            - https://open.spotify.com/playlist/3cEYpjA9oz9GiPac4AsH4n

    CreatePlaylistResponse:
      type: object
      required: [id, status]
      properties:
        id:
          $ref: '#/components/schemas/PlaylistId'
        status:
          $ref: '#/components/schemas/PlaylistStatus'

    PlaylistTracks:
      type: object
      description: |
        A Playlist's Tracks at one Version. The same document is what the server
        stores, so the bytes served are the bytes written.
      required: [version, skipped, tracks]
      properties:
        version:
          type: integer
          description: |
            The Playlist's Version, and the ETag this answer carries. It moves
            whenever the Playlist's contents change, and it is the whole of the
            client's "am I current?".
        skipped:
          type: integer
          description: |
            How many entries the Source offered that are not Tracks -- podcast
            episodes, local files, entries it will no longer serve. They are
            left out of `tracks`, and counted here so that a shorter list than
            the Source shows does not read as data loss.
        tracks:
          type: array
          items:
            $ref: '#/components/schemas/Track'

    Track:
      type: object
      description: |
        An entry in a Playlist as its Source describes it. Metadata, never a
        file.
      required:
        [sourceTrackId, title, artists, album, durationMs, isrc, position, coverImageUrl]
      properties:
        sourceTrackId:
          type: string
          description: The Track's id within its Source.
        title:
          type: string
        artists:
          type: array
          description: Always an array, including when there is one artist.
          items:
            type: string
        album:
          type: [string, 'null']
        durationMs:
          type: [integer, 'null']
        isrc:
          type: [string, 'null']
          description: |
            The recording's ISRC when the Source exposes one. Matching's
            strongest signal, carried now so Matching needs no re-read later.
        position:
          type: integer
          description: |
            The Source's own index for this entry, kept as it is. Skipped
            entries therefore leave visible gaps rather than renumbering what
            follows them.
        coverImageUrl:
          type: [string, 'null']
          description: |
            The largest cover image the Source offers, destined for file tags.
            Downscaling later is possible where upscaling is not.

    PendingTracks:
      type: object
      description: |
        Deliberately not an empty track list: a Playlist with no Tracks yet and
        a Playlist that resolved to nothing are different answers, and a client
        that cannot tell them apart stops polling too early.
      required: [status]
      properties:
        status:
          type: string
          const: pending

    PlaylistId:
      type: string
      description: |
        The Source name and the Playlist's id within that Source, joined by a
        colon. Deterministic, which is what makes creating a Playlist
        idempotent without a lookup. See docs/adr/0001-namespaced-playlist-ids.md.
      examples:
        - spotify:3cEYpjA9oz9GiPac4AsH4n

    PlaylistStatus:
      type: string
      description: |
        Where a Playlist is in its lifecycle, in the vocabulary of `CONTEXT.md`,
        as far as an answer carrying one can say.

        These two and no more. `CONTEXT.md` also names Unreachable and Gone, and
        neither will appear here: a Playlist in either state has no Tracks to
        serve, so it is answered with an error envelope and a code the client
        branches on -- `source_unavailable` and `playlist_gone` -- rather than
        with a success body describing a state. A status says "here, or nearly
        here"; a code says "not coming, and why".
      enum:
        - pending
        - ok

    Error:
      type: object
      description: |
        The shared error envelope. Every error response on every endpoint uses
        it. `message` is written for a human and printed verbatim by the CLI, so
        the copy can improve without a client release; `code` is what the CLI
        branches on.
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              $ref: '#/components/schemas/ErrorCode'
            message:
              type: string

    ErrorCode:
      type: string
      description: |
        Stable, machine-readable, and what the CLI branches on. Each answers a
        different question about what the caller should do next: correct the
        address, add the Playlist first, stop tracking it, or try again later.
      enum:
        - invalid_url
        - playlist_not_found
        - playlist_gone
        - source_unavailable
