openapi: 3.1.0

info:
  title: Jukebox API
  version: 0.0.0
  description: |
    The contract between the Jukebox CLI and the worker. Both sides generate
    their types from this document; neither owns it. A change here breaks the
    typecheck on both sides until it is handled, which is the point.

servers:
  - url: https://api.jukebox.dev

paths:
  /playlists:
    post:
      operationId: createPlaylist
      summary: Create a tracked Playlist from its public URL.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlaylistRequest'
      responses:
        '400':
          description: No Source adapter claims this URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    CreatePlaylistRequest:
      type: object
      required: [url]
      properties:
        url:
          type: string
          description: The playlist's public URL on its Source.
          examples:
            - https://open.spotify.com/playlist/3cEYpjA9oz9GiPac4AsH4n

    Error:
      type: object
      description: |
        The shared error envelope. Every error response on every endpoint uses
        it. `message` is written for a human and printed verbatim by the CLI, so
        the copy can improve without a client release; `code` is what the CLI
        branches on.
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              $ref: '#/components/schemas/ErrorCode'
            message:
              type: string

    ErrorCode:
      type: string
      description: |
        Stable, machine-readable. Grows as endpoints are added: `playlist_gone`
        and `source_unavailable` arrive with the responses that emit them.
      enum:
        - invalid_url
